@import "../fontawesome-free-5.15.1-web/scss/fontawesome.scss";
@import "../fontawesome-free-5.15.1-web/scss/solid.scss";
@import "var.scss";
@import "mixins.scss";

:root
{
    font-size: calc(1vw/0.2375);
}
body{
    font-family: "roboto";
    font-size: 1rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    
}
ul
{
    list-style-type: none;
}
header
{
    display: flex;
    justify-content: center;
    align-self: stretch;
    height:4rem;
    i
    {
    font-size: 1.3rem;
    padding-top: 1.3rem;
    margin-left: 1.5rem;
    }
    img
    {
     margin:1.3rem auto auto;
     max-width:45%;
    }
    a, a:visited, a:hover 
    {
        text-decoration: none;
        color:black;
    }
}
main
{
    display: flex;
    flex-direction: column;
    justify-content: center;

    figure
    {
    height: 17rem;
    margin-bottom: -1.8rem;
    }
    img {
        height: 100%;
        width:100%;
        object-fit: cover;
        object-position: top;
    }
}
section
{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 1.8rem;
    border-radius: 2rem 2rem 0 0;
    background-color: #f2f2f2;
    width:100%;
    h1
    {
    font-family: "shrikhand";
    font-size:1.8rem;
    width:75%;
    margin-bottom: 2rem;
    }
}

#favorite
{
    
    font-size: 1.6rem;
    align-self: center;
    margin-bottom: 1.5rem;
    padding-right: 1rem;
    input[type="checkbox"]
    {
        display:none;
    }  
}

form
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width:93%;
    padding-bottom: 5rem;
    ul
    {
    margin:0 0 2rem 0;
    padding-left: 0;
    }
    li
    {
    display: flex;
    list-style-type: none;
    height: auto;
    max-width: 100%;
    margin:0.1rem 0 1.7rem 0rem;
    padding-left: 0.6rem;
    border-radius: 1rem;
    background-color: #fff;
    @include shadow;
    }
}
input[type=checkbox]
{
    display: none;
    &:checked ~ label:last-of-type
    {
        width:3.8rem;
    }
    &:checked ~ label:last-of-type::before
    {
        display:flex;
    }
    &:checked ~ label .sidedish, &:checked ~ label .dish
    {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
fieldset
{
    border: 0;
    padding:0;
    width: 100%;
}
fieldset:last-of-type
{
    margin-bottom: 1rem;
}
legend
{
    position: relative;
    font-size: 1.1rem;
    margin-bottom: 1.1rem;
    border: none;
    &::before
    {
        content:'';
        position: absolute;
        width:2.6rem;
        height: 100%;
        border-bottom: 3px solid $tertiary-color;
        padding-bottom:1.9rem;
    }
}

li label:first-of-type
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 0.1px;
    height: 100%;
    border-radius: 1rem;
    flex:1;
}
li label:last-of-type
{
    display: flex;
    max-height:5rem;
    transition-property: width;
    transition-duration:2s;
    
    width: 0;
    background-color: $tertiary-color;
    border-radius: 0 1rem 1rem 0;
    @extend %fa-icon;
    @extend .fas;
    &:before
    {
        display:none;
        content: fa-content($fa-var-check);
        margin:auto;
        color: $tertiary-color;
        background-color: #f5f5f5;
        max-height: 5rem;
        border-radius: 100%;
        padding: 0.2rem;
        font-size: 0.8rem;
    }
    
}
.dish
{
    padding-top: 0.4rem;
    font-size: 1.2rem; 
    width: 100%;
       
}
.sidedish
{
    font-size: 1rem;
    padding-left: 0.01rem;
    flex:1;
   
}
.price
{
    font-weight: bold;
    font-size: 1rem;
    padding-right: 1rem;
    align-self: flex-end;
}
.button
{
    
    @include shadow;
    @include bckggradient;
    @include button;
    &:hover
    {
    @include shadow(darken( #e5e5e5, 10%));
    @include bckggradient(lighten($secondary-color, 5%), lighten($primary-color, 5%));
    }
}
footer
{
    @include footermix;
}   